*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Cabin';
}
body{
    background: #1a1a1d;
}
#main{
    width: 35%;
    margin: 15% auto;
    border-style: solid;
    border-color: #c3073f;
    border-width: 10px;
    border-radius: 30px;
}
#tab-btn{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    justify-content: center;
    border-style: solid;
    border-color: #c3073f;
    border-width: 10px;
    border-top-left-radius:17px;
    border-top-right-radius: 17px;
    

}
.login,.register{
    text-decoration: none;
    display: block;
    width: 100%;
    background-color: #c3073f;
    text-align: center;
    color: #fff;
    font-size: 25px;
    padding: 10px;
}
.active{
    background-color:  #1a1a1d;
    color: antiquewhite;
}
.content,.other{
    width: 100%;
    background-color: #eee;
    padding: 20px 30px 30px 30px;
    box-shadow: 2px 2px 5px #333;
    border-bottom-left-radius:17px;
    border-bottom-right-radius: 17px;
    
}
.other{
    display: none;
}
.inp{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 20px;
    border: 2px solid #888;
    background-color:  #1a1a1d;
    border-radius: 20px;
    color: #ffffff;
}
.inp:focus{
    outline: none;
    border: 2px solid #555;
    border-bottom: 5px solid #c3073f;
}
#sub-btn{
    width: 100%;
    padding: 12px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #c3073f;
    color: #fff;
    cursor: pointer;
  
 
    border-radius:20px;
}
#sub-btn:focus{
    outline: none;
}
#sub-btn:active{
    border: none;
    margin-top: 5px;
}
#forgot{
    font-size: 20px;
    color: #444;
    display: block;
}
h2{
    text-align: center;
    padding-bottom: 15px;
    color: #333;
    font-size: 30px;
    font-variant: small-caps;
}